<div class="app-container">
  <!-- Verificar si el usuario está autenticado -->
  <div *ngIf="isAuthenticated(); else loginTemplate">
    <!-- Si está autenticado, mostramos el contenido -->
    <nav>
      <ul class="flex justify-between">
        <li><a routerLink="/products" class="text-blue-500">Productos</a></li>
        <li><button (click)="logout()" class="bg-red-500 text-white p-2 rounded">Cerrar sesión</button></li>
      </ul>
    </nav>

    <div class="content mt-4">
      <router-outlet></router-outlet> <!-- Componente cargado por el router -->
    </div>
  </div>

  <!-- Si no está autenticado, mostramos el login -->
  <ng-template #loginTemplate>
    <router-outlet></router-outlet>
  </ng-template>
</div>